*{
    font-family: "Nunito";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}
:root{
    --green-color:#27AE60;
    --blue-color:#192A56;
    --section-color:#eee;
    scroll-behavior: smooth;
}
section:nth-of-type(2n){
    background-color: var(--section-color);
    padding: 50px 0;
}
section .special-heading{
text-transform: capitalize;
text-align: center;
}
section .special-heading h1{
    font-size: 38px;
    color: var(--blue-color);
}
section .special-heading h2{
    color: var(--green-color);
}
section:not(:first-of-type){
    padding: 50px 0;
}
body{
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: var(--section-color);
}
::-webkit-scrollbar-thumb {
    background-color: #27AE60; 
    border-radius: 10px;
    
}
.container{
    margin-left: auto;
    margin-right: auto;
   
}
@media (min-width:777px) {
    .container{
        width: 760px;
        
    }
}
@media (max-width:767px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
}
@media (min-width:991px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* start header */
header{
    border-bottom:1px solid #eee ;
    padding: 10px 0;
    box-shadow: 0px 0px 13px 4px #eee;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo{

}
header .container .logo span{
    color: var(--blue-color);
    font-size: 28px;
    font-weight: 800;
}
header .container .logo i{
    color: var(--green-color);
    font-size: 28px;
}
header .container .links{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .links a{
    padding: 5px 15px;
    color: rgb(138, 138, 138);
    font-size: 18px;
    border-radius:10px ;
    transition: .3s;
}
header .links a:hover, a.active{
    background-color: var(--green-color);
    color: #fff !important;
}
header .icons{
    display: flex;
}
header .icons i, header .icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--section-color);
    border-radius: 50%;
    color: var(--blue-color);
    transition: .5s;
    margin-left: 5px;
}
header .icons i:hover, header .icons a:hover{
    transform: rotate(1turn);
    background-color: var(--green-color);
    color: #fff;
}
#bars{
    display: none;
}
@media (max-width:768px) {
    #bars{
        display: inline-flex;
    }
    header .container .links{
        transform: scaleY(0);
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        padding: 20px;
        height: calc(100vh - 61px);
        justify-content: space-around;
        width: 100%;
        background-color: #eee;
        transition: .3s;
        transform-origin: top;
    }
    header .container .links.active{
        transform: scaleY(1);
    }
    header .container .links li{
        padding: 10px 20px;
        background-color: #fff;
        width: 100%;
        color: #fff;
        border-radius: 10px;
        transition: .3s;
        position: relative;
    }
    header .container .links li::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width:0;
        height: 100%;
        background-color: #27AE60;
        z-index: 2;
        transition: .3s;
        border-radius: 10px;
    }
    header .container .links li:hover{
        padding-left: 20px;
    }
    header .container .links li:hover::after{
        width: 100%;
    }
    header .container .links li:hover a{
        color: #fff;
        padding-left: 40px;
        position: relative;
        z-index: 3;
    }
header .links a{
    color: #27AE60;
}
}
/* end header */
/* start search form */
#search-form{
    display: none;
    position: fixed;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.843);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s;
}
#search-form.active{
    transform: scaleY(1);
}
#search-box{
    width: 500px;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--green-color);
    color: #fff;
    font-size: 22px;
}
@media (max-width:767px) {
    #search-box{
       max-width: 300px;
       min-width: 250px;
    }
}
#search-form label{
    font-size: 22px;
    color: #27AE60;
}
#search-box::placeholder{
    font-size: 22px;
    color: #fff;
    letter-spacing: 3px;
}
#search-form i{
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    border: 1px solid;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: .3s;
}
#search-form i:hover{
    color: #27AE60;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/* end search form */
/* start landing section */
.home-slider{
    padding: 0px 30px;
    overflow: hidden;
    height: calc(100vh - 61px);
    position: relative;
    z-index: -1;
}
.home-slider .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0rem;
}
.home-slider .slide .content{
  max-width: 400px;
}
.home-slider .slide .content span{
    color: var(--green-color);
    font-size: 30px;
}
.home-slider .slide .content p{
    color: #555;
    font-size: 20px;
}
.home-slider .slide .content button{
    background-color: var(--blue-color);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
}
.home-slider .slide .content h3{
    font-size: 60px;
    font-weight: bolder;
    color: var(--blue-color);
}
.home-slider .slide .image{
min-width: 500px;
}
.home-slider .slide .image img{
    max-width: 92%;
}
@media (max-width:991px) {
    .home-slider{
height: calc(100vh - 61px);
    }
    .home-slider .slide{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
    }
  
}
@media (max-width:991px) {
    .home-slider .slide .image{
        min-width: 0px;
        }
        .home-slider .slide .image img{
            max-width: 55%;
        }
        .home-slider .slide .content h3{
            font-size: 30px;
        }
        .home-slider .slide .content p{
font-size: 15px;
        }
        .home-slider .slide .content span{
            font-size: 20px;
        }
div.swiper-pagination{
    
}
}

/* end landing section */
/* start dishes section */
.dishes{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;

}
.dishes .dish{
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}
.dishes .dish::before,.dishes .dish::after{
    position: absolute;
    top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: "Font Awesome 5 Free";
    line-height: 50px;
    font-size:25px;
    background-color: #27AE60;
color: #fff;
    transition: .3s;
    cursor: pointer;
   
}
.dishes .dish::before{
    content: "\f06e";
    left:-50px
}
.dishes .dish::after{
    content: "\f004";
    right: -50px;
}
.dishes .dish:hover:before{
    left:10px
}
.dishes .dish:hover:after{
    right: 10px;
}
.dishes .dish .image, .menu-item .item .image{
    height: 180px;
    margin-bottom: 20px;
}
.dishes .dish img{
    max-width: 100%;
    height: 100%;
}
.dishes .dish h2, .menu-item .item .text h2{
font-size: 28px ;
color: #192A56;
margin-bottom: 10px;
}
.dishes .dish .stars{

}
.dishes .dish .stars i, .menu-item .item .stars i{
color: #27AE60;
font-size: 18px;
font-weight: bold;
}
.dishes .dish .price, .menu-item .item .price{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}
.dishes .dish .price p:first-of-type,.menu-item .item .price p:last-of-type{
padding: 10px 20px;
color: #27AE60;
font-size: 22px;
font-weight: 800;
}
.dishes .dish .price p:last-of-type,.menu-item .item .text .price p:first-of-type{
background-color: #192A56;
color: #fff;
border-radius: 10px;
font-size: 20px;
padding: 5px 20px;
cursor: pointer;
}
.dishes .dish .price p:last-of-type:hover,.menu-item .item .text .price p:first-of-type:hover{
background-color: #27AE60;
color: #fff;
}
/* end dishes section */
/* start about us */
.about{
    padding:50px 0;
}
.about .content{
display: flex;
align-items: center;
flex-wrap: wrap;
}
.about .content .image{
    flex: 1 1 400px;
}
.about .content .image img{
    max-width: 100%;
}
.about .content .text{
flex: 1 1 400px;
}
@media (max-width:991px) {
    .about .content{
        text-align: center;
    }
}
.about .text h1{
    font-size: 30px;
    color: #192A56;
    margin-bottom: 20px;
}
.about .text>p{
    line-height: 1.5;
    margin-bottom: 15px;
    color: #555;
}
.about .text .options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.about .options .opt1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 10px;
    background-color: #eee;
    border-radius: 10px;
    border: 2px solid var(--blue-color);
    cursor: pointer;
}
.about .opt1 i{
font-size: 24px;
color: #27AE60
}
.about .opt1 p{
   font-size: 15px;
   margin-left: 10px;

}
.about .text>p:last-of-type{
    padding: 10px 25px;
    background-color: #192A56;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}
.about .text>p:last-of-type:hover{
    background-color: #27AE60;
}
@media(max-width:500px){
    .about .options {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
}
/* end about us */
/* start our menu */
.our-menu{

}
.menu-item{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 20px;
margin-top: 20px;
}
.menu-item .item{
    background-color: #fff;
    padding: 10px;
}
.menu-item .item .image{
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}
.menu-item .item img{
    max-height: 220px;
    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
    filter: grayscale(1);
    transition: .3s;
}
.menu-item .item img:hover{
    filter: grayscale(0);
    transform: rotate(13deg) scale(1.5);
}
.menu-item .item .price{
    justify-content: flex-start;
}
.menu-item .item .stars{
    margin: 20px 0;
}
.menu-item .text>p{
    color: #555;
}
/* end our menu */
/* start review */
.review{
    overflow: hidden;
}
.review-slider{
    margin-top: 20px;
}
.review .slide{
     box-shadow:0px 0px 10px 2px rgb(40 40 40 / 15%);
    border: 1px solid #d0cfcf;
    padding: 20px;
    border-radius: 20px;
}
.review .slide .user{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
.review-slider{
   overflow-x: hidden;
   padding: 13px;
}

.review .slide .user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.review .slide .user h2{
    color: #192A56;
}
.review .slide .user .stars i{
    color: #27AE60;
}
.review .slide .user>i{
    color: #192A56;
    font-size: 36px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.review .slide>p{
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
/* end review */
/* start form */
section.form{

}
section.form .container{

}
.form form{
background-color: #fff;
padding: 20px;
max-width: 900px;
margin: 20px auto;
border-radius: 10px;
}
.form form .info{
    display: flex;
    margin-bottom: 20px;
    gap: 40px;
}
.form form .info .input{
    flex: 1;
    display: flex;
   flex-direction: column;
}
.form form .info .input p{
margin-bottom: 5px;
color: #555;
}
.form form .info .input input, textarea{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--section-color);
    border: 1px solid var(--green-color);
    
}
.form form .info .input input::placeholder,textarea::placeholder{
    transition: .3s;
    opacity: 1;
    color: #192A56;
}
.form form .info .input input:focus::placeholder, textarea:focus::placeholder{
    opacity: 0;
}
.one::placeholder{
position: absolute;
}
input[value = "order now"]{
    background-color: #192A56 !important;
    width: 200px;
    border: none !important;
    color: #fff;
    cursor: pointer;
    margin: 0px auto;
}
@media (max-width:600px) {
    .form form .info{
        flex-direction: column;
        gap: 0;
        margin-bottom: 0px;
    } 
    .form form .info .input{
        margin-bottom: 10px;
    }
}
/* end form */
/* start footer */
footer{
    padding: 40px 0px 20px;
}
footer .container .boxes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

footer .boxes .box h3{
font-size: 25px;
color:#192A56;
}


footer .boxes .box ul li a{
color: #555;
padding: 5px 0;
display: block;
}
footer .boxes .box ul li a:hover{
    color: #27AE60;
}
.footer{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #192A56;
}
.footer span{
    color: #27AE60;
}

@media (max-width:450px) {
    footer .container .boxes{
        text-align: center;
    }
    .footer{
        font-size: 20px;
    }
}
/* end footer */
/* star loader */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    opacity: 1;
}
.loader.hidden{
    display: none;
}

/* end loader */
